.container
  %h2= @task.title
  - if user_signed_in? && current_user.has_task_written?(@task)
  .dropdown
    = image_tag 'actions.svg', class: 'dropbtn'
      .dropdown-content.mini
        = link_to 'Edit', edit_board_task_path(board_id: @task.board_id, id: @task.id)
        = link_to 'Delete', board_task_path(board_id: @task.board_id, id: @task.id), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }