@import 'header';
@import 'tabs';
@import 'variables';
@import 'card';
@import 'board';
@import 'buttons';
@import 'form';
@import 'flash';
@import 'common';
@import 'profile';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  background-color: #ffffff;
  font-size: 1em;
  color: $text-base-color;
}

a {
  text-decoration: none;
  color: $text-base-color;
}

h2 {
  padding: 0px 0px 16px 0px;
  color: #000000;
}

.container {
  padding: 16px 16px;
  width: 100%;
}

.float_btn {
  height: 150px;
  text-align: center;
  background-color: #ffffff;
  color: $text-base-color;
  border: dashed 1px $text-base-color;
  border-radius: 10px;

  i {
    margin-top: 65px;
  }
}
